body{ 
    font-family: "Sen", sans-serif !important;
}

.navbar{ 
    height: 5rem;
    background-color: white;
}

.fa-house{ 
    color: rgb(195, 62, 62);
    font-size: 2rem;
}

.nav-link{ 
    color: black !important;
} 

.card{ 
    margin-bottom: 2rem;
    border: none !important;
}

.card-img-top{ 
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{ 
    padding: 0 !important;
}

.card-text p { 
    font-weight: 500;
}

.listing-link { 
    text-decoration: none;
}

.card-img-overlay { 

    opacity: 0;
}

.card-img-overlay:hover{ 
    opacity: 0.2;
    background-color: white;
}

.add-btn { 
    background-color: #fe424d !important;
    border: none !important;
}


/* Edit  */ 

edit-btn { 
background-color: #fe424d !important;
    border: none !important;

}

show-img {
  height: 30vh;
}

btns {
  display: flex;
}

.show-card {
  padding: 0;
  padding-right: 0;
}

.show-card {
  padding: 0;
  padding-right: 0;
}
 /* button delete */
 

  /* footer */

  .fo-info-ftr{
    text-align: center;
    font-size: 2rem;
    margin-top: 10px;
  }
  .f-info{
    text-align: center;
    text-decoration: none;
    background-color: rgb(193, 233, 233);
  }
  .f-info-links{
    font-size: 20px;
    color: black;
  }
  